{"openapi":"3.1.0","info":{"title":"Scrape Creators API","description":"The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 27+ platforms.","version":"1.0.0","contact":{"name":"Scrape Creators","url":"https://scrapecreators.com","email":"support@scrapecreators.com"}},"servers":[{"url":"https://api.scrapecreators.com","description":"Production server"}],"security":[{"apiKeyAuth":[]}],"tags":[{"name":"TikTok","description":"Scrape TikTok profiles, videos, and more"},{"name":"TikTok Shop","description":"Everything about TikTok Shop"},{"name":"Instagram","description":"Gets Instagram profiles, posts, and reels"},{"name":"YouTube","description":"Scrape YouTube channels, videos, and more"},{"name":"Rumble","description":"Scrape Rumble search, videos, transcripts, and channel videos"},{"name":"LinkedIn","description":"Scrape LinkedIn"},{"name":"Facebook","description":"Get public Facebook profiles and posts"},{"name":"GitHub","description":"Scrape GitHub profiles, repositories, and public activity"},{"name":"Facebook Marketplace","description":"Scrape Facebook Marketplace"},{"name":"Facebook Events","description":"Scrape Facebook Events"},{"name":"Facebook Ad Library","description":"Scrapes the Facebook (Meta) Ad Library"},{"name":"TikTok Ad Library","description":"Scrape the TikTok Ad Library"},{"name":"Google Ad Library","description":"Scrape the Google Ad Transparency Library. *This only gets the public ads. Some ads you need to log in for and sadly we can't get those. Also, since there are so many variations, the return types might not all be 100% the same. Email me for suggestions. Also this endpoint is pretty new, if you find any errors or irregularities, please email me: support@scrapecreators.com"},{"name":"LinkedIn Ad Library","description":"Search the LinkedIn Ad Library"},{"name":"Twitter","description":"Get Twitter profiles, tweets, followers and more"},{"name":"Reddit","description":"Scrape Reddit posts and comments"},{"name":"Truth Social","description":"As of 8/27/2025, Truth Social is only letting you view the public profile/posts of prominent users (like Trump and Vance), but requiring auth for everyone else. So sadly most other accounts will not work :("},{"name":"Threads","description":"Get Threads posts"},{"name":"Bluesky","description":"Get Bluesky posts and profile info"},{"name":"Pinterest","description":"Scrape Pinterest pins"},{"name":"Google","description":"Scrape Google search results"},{"name":"Twitch","description":"Scrape Twitch clips"},{"name":"Apple Music","description":"Scrape Apple Music artists, songs, albums, and search results"},{"name":"Spotify","description":"Scrape Spotify artists, songs, and albums"},{"name":"SoundCloud","description":"Scrape SoundCloud playlists and tracks"},{"name":"Kwai","description":"Scrape Kwai profiles, posts, and user feeds"},{"name":"Kick","description":"Scrape Kick clips"},{"name":"Snapchat","description":"Scrape Snapchat user profiles and their stories"},{"name":"Linktree","description":"Scrape Linktree pages"},{"name":"Komi","description":"Scrape Komi pages"},{"name":"Pillar","description":"Scrape Pillar pages"},{"name":"Linkbio","description":"Scrape Linkbio (lnk.bio) pages"},{"name":"Amazon Shop","description":"Scrape Amazon Shop pages"},{"name":"Age and Gender","description":"Get age and gender of creator"},{"name":"Scrape Creators","description":"For Scrape Creators customers"},{"name":"Linkme","description":"Get Linkme profile info"}],"paths":{"/v1/tiktok/profile":{"get":{"tags":["TikTok"],"summary":"Profile","description":"Fetches public profile data for a TikTok user by their handle or user_id — useful for looking up a creator's identity, bio, and account stats. Returns a `user` object (display name, avatar URLs, bio/signature, verification status, bio link) and a `stats` object (followerCount, followingCount, heartCount/total likes, videoCount). This only returns profile metadata, not the user's actual videos or followers list.","parameters":[{"name":"handle","in":"query","required":false,"description":"TikTok handle. You can pass handle or user_id.","schema":{"type":"string"},"example":"stoolpresidente"},{"name":"user_id","in":"query","required":false,"description":"TikTok user id.","schema":{"type":"string"},"example":"6659752019493208069"},{"name":"cache_max_age","in":"query","required":false,"description":"If we have a response in the cache that is this many days old or newer, return the cached response (0 credits, with \"cached\": true and a \"cached_at\" timestamp). Otherwise, scrape a live result (1 credit). [See the Caching page for details.](https://docs.scrapecreators.com/caching)","schema":{"type":"string","enum":["1d","3d","7d","14d","30d"]},"example":"7d"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/tiktok/profile/region":{"get":{"tags":["TikTok"],"summary":"Profile Region","description":"Returns the TikTok region code for a public profile, like `US` for United States or `MX` for Mexico.","parameters":[{"name":"handle","in":"query","required":true,"description":"TikTok handle","schema":{"type":"string"},"example":"stoolpresidente"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/tiktok/user/audience":{"get":{"tags":["TikTok"],"summary":"User's Audience Demographics","description":"Retrieves audience demographic data for a TikTok user, showing where their followers are located by country. Returns `audienceLocations`, an array of objects each containing `country`, `countryCode`, `count`, and `percentage`. Costs 26 credits per request.","parameters":[{"name":"handle","in":"query","required":true,"description":"TikTok handle","schema":{"type":"string"},"example":"shakira"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/tiktok/collection/videos":{"get":{"tags":["TikTok"],"summary":"Collection Videos","description":"Fetches the videos saved in a public TikTok collection, which TikTok also calls a playlist. Pass the collection URL. Returns `videos` using TikTok's native web video object format, including `id`, `desc`, `author`, `stats`, and `video`. To fetch the next page, pass the previous response's `max_cursor` as `cursor` when `has_more` is true.","parameters":[{"name":"url","in":"query","required":true,"description":"Public TikTok collection URL","schema":{"type":"string"},"example":"https://www.tiktok.com/@kibblemaster808/collection/Want-to-go-7665668414573546258"},{"name":"cursor","in":"query","required":false,"description":"Cursor to get more videos. Use max_cursor from the previous response.","schema":{"type":"string"},"example":"4"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v3/tiktok/profile/videos":{"get":{"tags":["TikTok"],"summary":"Profile Videos","description":"Fetches videos posted by a TikTok user, sortable by latest or most popular — use this to get a creator's video feed or TikToks. Returns `aweme_list`, an array of video objects each containing `aweme_id`, `desc` (caption), `statistics` (play_count, digg_count/likes, comment_count, share_count, collect_count/saves), and `video` (download URLs, duration, cover image). Paginate with `max_cursor` from the previous response. If a profile should have videos but returns none, try `region=US` or another relevant two-letter country code.","parameters":[{"name":"handle","in":"query","required":true,"description":"TikTok handle","schema":{"type":"string"},"example":"stoolpresidente"},{"name":"user_id","in":"query","required":false,"description":"TikTok user id. Use this for faster responses.","schema":{"type":"string"},"example":"6659752019493208069"},{"name":"sort_by","in":"query","required":false,"description":"What to sort by","schema":{"type":"string","enum":["latest","popular"]},"example":"latest"},{"name":"max_cursor","in":"query","required":false,"description":"Cursor to get more videos. Get 'max_cursor' from previous response.","schema":{"type":"string"},"example":"1734562353000"},{"name":"region","in":"query","required":false,"description":"Region (country) for the proxy. Defaults to GB. If a profile should have videos but returns none, try US or another relevant two-letter country code.","schema":{"type":"string"},"example":"GB"},{"name":"trim","in":"query","required":false,"description":"Set to true for a trimmed down version of the response","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v2/tiktok/video":{"get":{"tags":["TikTok"],"summary":"Video Info","description":"Fetches detailed data for a single TikTok video by URL, including its metadata, engagement stats, and optionally its transcript/captions. Returns `aweme_detail` with `desc` (caption), `statistics` (play_count, digg_count/likes, comment_count, share_count, collect_count), `video` URLs, `author` info, and `music` info; also returns `transcript` in WEBVTT format if `get_transcript=true`. For no-watermark video URLs, use `aweme_detail.video.download_no_watermark_addr.url_list[0]` when it exists. If it is missing and `aweme_detail.video.has_watermark` is false, use `aweme_detail.video.play_addr.url_list[0]` instead. If `has_watermark` is true and `download_no_watermark_addr` is missing, TikTok did not return a no-watermark URL for that video.","parameters":[{"name":"url","in":"query","required":true,"description":"TikTok video URL","schema":{"type":"string"},"example":"https://www.tiktok.com/@randomspamvideos25/video/7251387037834595630"},{"name":"get_transcript","in":"query","required":false,"description":"Get transcript of the video","schema":{"type":"boolean"}},{"name":"region","in":"query","required":false,"description":"Region of the proxy. Sometimes you'll need to specify the region if you're not getting a response. Commonly for videos from the Phillipines, in which case you'd use 'PH'. Use 2 letter country codes like US, GB, FR, etc","schema":{"type":"string"},"example":"US"},{"name":"trim","in":"query","required":false,"description":"Set to true to get a trimmed response","schema":{"type":"boolean"}},{"name":"download_media","in":"query","required":false,"description":"Set to true to download the video/images and get back permanent Supabase URLs. Costs 10 credits if media is found, 1 credit otherwise.","schema":{"type":"boolean"}},{"name":"cache_max_age","in":"query","required":false,"description":"If we have a response in the cache that is this many days old or newer, return the cached response (0 credits, with \"cached\": true and a \"cached_at\" timestamp). Otherwise, scrape a live result (1 credit). [See the Caching page for details.](https://docs.scrapecreators.com/caching)","schema":{"type":"string","enum":["1d","3d","7d","14d","30d"]},"example":"7d"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/tiktok/video/transcript":{"get":{"tags":["TikTok"],"summary":"Transcript","description":"Extracts the transcript, captions, or subtitles from a TikTok video by URL. Returns `id`, `url`, and `transcript` as a WEBVTT-formatted string with timestamped text segments. Video must be under 2 minutes; costs an additional 10 credits when `use_ai_as_fallback=true`.","parameters":[{"name":"url","in":"query","required":true,"description":"TikTok video URL","schema":{"type":"string"},"example":"https://www.tiktok.com/@stoolpresidente/video/7499229683859426602"},{"name":"language","in":"query","required":false,"description":"Language of the transcript. 2 letter language code, ie 'en', 'es', 'fr', 'de', 'it', 'ja', 'ko', 'zh'","schema":{"type":"string"},"example":"en"},{"name":"use_ai_as_fallback","in":"query","required":false,"description":"Set to 'true' to use AI as a fallback to get the transcript if the transcript is not found. Costs 10 credits to use this feature. And only if the video is under 2 minutes.","schema":{"type":"string"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/tiktok/user/live":{"get":{"tags":["TikTok"],"summary":"Live","description":"Checks if a TikTok user is currently live streaming and retrieves their live room details. Returns `liveRoomUserInfo` (nickname, avatar, followerCount, roomId) and `liveRoom` (title, startTime, status, `liveRoomStats` with enterCount and userCount, plus `streamData` with playback URLs in multiple qualities).","parameters":[{"name":"handle","in":"query","required":true,"description":"TikTok handle","schema":{"type":"string"},"example":"thejustalex"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/tiktok/live":{"get":{"tags":["TikTok"],"summary":"Live Info","description":"Gets curated room-level info for a TikTok live using TokAPI's live info endpoint. Use `/v1/tiktok/user/live` first to find the `room_id`. If you only have a TikTok handle and need the user's numeric id, use `/v1/tiktok/profile` first to get `user.id`. This endpoint is separate from `/v1/tiktok/user/live` because it uses a different upstream call and returns a smaller response with the most relevant fields: `room_id`, `like_count`, `viewer_count`, `status`, `title`, `cover_url`, and `owner`.","parameters":[{"name":"room_id","in":"query","required":true,"description":"TikTok live room id. Get this from `/v1/tiktok/user/live` in `liveRoomUserInfo.roomId` or `liveRoom.id` when the user is live.","schema":{"type":"string"},"example":"7523685855395842871"},{"name":"user_id","in":"query","required":true,"description":"TikTok numeric user id for the live owner. Get this from `/v1/tiktok/profile` in `user.id`.","schema":{"type":"string"},"example":"6742945285876515845"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/tiktok/video/comments":{"get":{"tags":["TikTok"],"summary":"Comments","description":"Fetches comments on a TikTok video by URL — useful for reading audience reactions, replies, and engagement. Returns `comments`, an array where each comment includes `text`, `digg_count` (likes), `reply_comment_total`, `create_time`, and a `user` object with the commenter's nickname and unique_id; also returns `total` comment count. Paginate with `cursor` from the previous response.","parameters":[{"name":"url","in":"query","required":true,"description":"TikTok video URL","schema":{"type":"string"}},{"name":"cursor","in":"query","required":false,"description":"Cursor to get more comments. Get 'cursor' from previous response.","schema":{"type":"number"},"example":20},{"name":"trim","in":"query","required":false,"description":"Set to true to get a trimmed response","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/tiktok/video/comment/replies":{"get":{"tags":["TikTok"],"summary":"Comment Replies","description":"Fetches replies to a specific TikTok comment by its ID. Returns `comments`, an array of comment objects each with `text`, `user` info, and `create_time`. Paginate with `cursor` from the previous response.","parameters":[{"name":"comment_id","in":"query","required":true,"description":"TikTok comment ID. This is the cid from the comments endpoint.","schema":{"type":"string"},"example":"7623828115408274207"},{"name":"url","in":"query","required":true,"description":"TikTok video URL. This is the url from the comments endpoint.","schema":{"type":"string"},"example":"https://www.tiktok.com/@stoolpresidente/video/7623818255903329566"},{"name":"cursor","in":"query","required":false,"description":"Cursor to get more replies. Get 'cursor' from previous response.","schema":{"type":"number"},"example":3}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/tiktok/user/following":{"get":{"tags":["TikTok"],"summary":"Following","description":"Retrieves the following list — accounts that a TikTok user follows — by their handle. Returns `followings`, an array of user objects each with `nickname`, `unique_id`, `uid`, `follower_count`, `following_count`, `signature`, and avatar URLs; also returns `total` count. Paginate with `min_time` from the previous response.","parameters":[{"name":"handle","in":"query","required":true,"description":"TikTok handle","schema":{"type":"string"},"example":"stoolpresidente"},{"name":"min_time","in":"query","required":false,"description":"Used to paginate. Get 'min_time' from previous response.","schema":{"type":"number"},"example":1605663376},{"name":"trim","in":"query","required":false,"description":"Set to true to get a trimmed response","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/tiktok/user/followers":{"get":{"tags":["TikTok"],"summary":"Followers","description":"Retrieves the follower list of a TikTok account by handle or user_id — useful for seeing who follows a creator or getting subscriber data. Returns `followers`, an array of user objects each with `nickname`, `unique_id`, `uid`, `follower_count`, `following_count`, and avatar URLs; also returns `total` follower count. Paginate with `min_time` from the previous response.","parameters":[{"name":"handle","in":"query","required":false,"description":"TikTok handle","schema":{"type":"string"},"example":"stoolpresidente"},{"name":"user_id","in":"query","required":false,"description":"User id. Use this for faster response times.","schema":{"type":"string"},"example":"6659752019493208069"},{"name":"min_time","in":"query","required":false,"description":"Used to paginate. Get 'min_time' from previous response.","schema":{"type":"number"},"example":1605663376},{"name":"trim","in":"query","required":false,"description":"Set to true to get a trimmed response","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/tiktok/search/users":{"get":{"tags":["TikTok"],"summary":"Search Users","description":"Searches for TikTok users by keyword or name — useful for finding creators or accounts matching a query. Returns `users`, an array of objects each containing `user_info` (nickname, unique_id, signature/bio, follower_count, following_count, avatar) and associated `items`. Paginate with `cursor` from the previous response.","parameters":[{"name":"query","in":"query","required":true,"description":"Search query for users","schema":{"type":"string"}},{"name":"cursor","in":"query","required":false,"description":"Cursor to get more users. Get 'cursor' from previous response.","schema":{"type":"number"},"example":10},{"name":"trim","in":"query","required":false,"description":"Set to true to get a trimmed response","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/tiktok/search/suggestions":{"get":{"tags":["TikTok"],"summary":"Search Suggestions","description":"Gets the autocomplete suggestions TikTok shows while someone is typing in search. Returns `suggestions`, a clean array of suggested search terms and the most useful metadata for each suggestion.","parameters":[{"name":"query","in":"query","required":true,"description":"Search query to get suggestions for","schema":{"type":"string"},"example":"dogs"},{"name":"region","in":"query","required":false,"description":"Region code for suggestions","schema":{"type":"string"},"example":"US"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/tiktok/search/hashtag":{"get":{"tags":["TikTok"],"summary":"Search by Hashtag","description":"Searches for TikTok videos under a specific hashtag — useful for finding content by topic or trend. Returns `aweme_list`, an array of video objects each with `aweme_id`, `desc` (caption), `statistics` (play_count, digg_count/likes, comment_count, share_count), `video` info, and `author` details. Paginate with `cursor` from the previous response. TikTok may return duplicate results.","parameters":[{"name":"hashtag","in":"query","required":true,"description":"Hashtag to search for (without #)","schema":{"type":"string"}},{"name":"region","in":"query","required":false,"description":"Region the proxy will be set to. Note: this isn't going to grab you all tiktoks from this region, you're just setting the proxy there.","schema":{"type":"string"},"example":"US"},{"name":"cursor","in":"query","required":false,"description":"Cursor to get more videos. Get 'cursor' from previous response.","schema":{"type":"number"},"example":10},{"name":"trim","in":"query","required":false,"description":"Set to true to get a trimmed response","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/tiktok/search/keyword":{"get":{"tags":["TikTok"],"summary":"Search by Keyword","description":"Searches for TikTok videos by keyword or phrase — the general video search across all of TikTok. Returns `search_item_list`, an array of objects each containing `aweme_info` with `aweme_id`, `desc` (caption), `statistics` (play_count, digg_count/likes, comment_count, share_count), `video` info, and `author` details. Paginate with `cursor`. TikTok may return duplicate results.","parameters":[{"name":"query","in":"query","required":true,"description":"Keyword to search for","schema":{"type":"string"}},{"name":"date_posted","in":"query","required":false,"description":"Time Frame","schema":{"type":"string","enum":["yesterday","this-week","this-month","last-3-months","last-6-months","all-time"]},"example":"all-time"},{"name":"sort_by","in":"query","required":false,"description":"Sort by","schema":{"type":"string","enum":["relevance","most-liked","date-posted"]},"example":"relevance"},{"name":"region","in":"query","required":false,"description":"Note, this doesn't filter the tiktoks only in a specfic region, it puts the proxy there. Use it in case you want to scrape posts only available for some country. Use 2 letter country codes like US, GB, FR, etc","schema":{"type":"string"}},{"name":"cursor","in":"query","required":false,"description":"Cursor to get more videos. Get 'cursor' from previous response.","schema":{"type":"number"},"example":10},{"name":"trim","in":"query","required":false,"description":"Set to true to get a trimmed response","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/tiktok/search/top":{"get":{"tags":["TikTok"],"summary":"Top Search","description":"Searches TikTok's 'Top' results by query — returns both videos and photo carousels, unlike keyword search which only returns videos. Returns `items`, an array of objects each with `id`, `desc` (caption), `content_type` (video or photo carousel), `statistics` (play_count, digg_count/likes, comment_count, share_count), `video` info, and `images` for carousels. Paginate with `cursor`. TikTok may return duplicate results.","parameters":[{"name":"query","in":"query","required":true,"description":"Keyword to search for","schema":{"type":"string"},"example":"funny"},{"name":"publish_time","in":"query","required":false,"description":"Time Frame TikTok was posted","schema":{"type":"string","enum":["yesterday","this-week","this-month","last-3-months","last-6-months","all-time"]},"example":"all-time"},{"name":"sort_by","in":"query","required":false,"description":"Sort by","schema":{"type":"string","enum":["relevance","most-liked","date-posted"]},"example":"relevance"},{"name":"region","in":"query","required":false,"description":"Note, this doesn't filter the tiktoks only in a specfic region, it puts the proxy there. Use it in case you want to scrape posts only available for some country. Use 2 letter country codes like US, GB, FR, etc","schema":{"type":"string"}},{"name":"cursor","in":"query","required":false,"description":"Cursor to get more videos. Get 'cursor' from previous response.","schema":{"type":"number"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/tiktok/creators/popular":{"get":{"tags":["TikTok"],"summary":"Get popular creators","description":"Discovers trending and popular TikTok creators, filterable by follower count range, creator country, and audience country. Returns `creator_list`, an array of creator objects each with `nickname`, `unique_id`, `follower_count`, `likes_count`, `video_views`, `engagement_rate`, and avatar URLs. Sortable by engagement, follower count, or average views.","parameters":[{"name":"page","in":"query","required":false,"description":"Page number","schema":{"type":"number"},"example":1},{"name":"sortBy","in":"query","required":false,"description":"Sort creators by engagement, follower count, or average views","schema":{"type":"string","enum":["engagement","follower","avg_views"]},"example":"engagement"},{"name":"followerCount","in":"query","required":false,"description":"Filter by follower count range","schema":{"type":"string","enum":["10K-100K","100K-1M","1M-10M","10M+"]},"example":"10K-100K"},{"name":"creatorCountry","in":"query","required":false,"description":"Country code of the creator","schema":{"type":"string","enum":["AU","BR","CA","EG","FR","DE","ID","IL","IT","JP","MY","PH","RU","SA","SG","KR","ES","TW","TH","TR","AE","GB","US","VN"]},"example":"US"},{"name":"audienceCountry","in":"query","required":false,"description":"Country code of the audience/follower","schema":{"type":"string","enum":["AU","BR","CA","EG","FR","DE","ID","IL","IT","JP","MY","PH","RU","SA","SG","KR","ES","TW","TH","TR","AE","GB","US","VN"]},"example":"US"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/tiktok/song":{"get":{"tags":["TikTok"],"summary":"Get Song Details","description":"Fetches detailed metadata for a specific TikTok sound or song by its clipId. Returns `music_info` with `title`, `author`, `album`, `duration`, `user_count` (number of videos using this sound), `play_url`, cover art, and artist details. Use the `clipId` from a sound URL or from the popular songs endpoint.","parameters":[{"name":"clipId","in":"query","required":true,"description":"This is a little confusing because this isn't songId like you'd think. It is the clipId. I guess because you can clip different portions of a song 🤷‍♂️","schema":{"type":"string"},"example":"7439295283975702544"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/tiktok/song/videos":{"get":{"tags":["TikTok"],"summary":"TikToks using Song","description":"Fetches TikTok videos that use a specific sound or song, identified by its clipId. Returns `aweme_list`, an array of video objects each with `aweme_id`, `desc` (caption), `statistics` (play_count, digg_count/likes, comment_count, share_count), `video` info, and `author` details. Paginate with `cursor` from the previous response.","parameters":[{"name":"clipId","in":"query","required":false,"description":"This is clipId. Can be found on a url like so: https://www.tiktok.com/music/That%27s-Who-I-Praise-7370375686554782506, where 7370375686554782506 is the clipId","schema":{"type":"string"},"example":"7439295283975702544"},{"name":"cursor","in":"query","required":false,"description":"The cursor to get the next page of results.","schema":{"type":"number"},"example":12}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/tiktok/get-trending-feed":{"get":{"tags":["TikTok"],"summary":"Trending Feed","description":"Fetches TikTok's trending/For You feed for a given region — useful for discovering viral content and what's currently popular. Returns `aweme_list`, an array of video objects each with `aweme_id`, `desc` (caption), `statistics` (play_count, digg_count/likes, comment_count, share_count, collect_count), `video` (playback and download URLs, cover), `author` info, and `image_post_info` for photo carousels.","parameters":[{"name":"region","in":"query","required":true,"description":"Where you want the proxy to be. This doesn't mean that you will only see TikToks from this region, you will just see the content that isn't banned in that region.","schema":{"type":"string"},"example":"US"},{"name":"trim","in":"query","required":false,"description":"Set to true to get a trimmed response.","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/tiktok/shop/search":{"get":{"tags":["TikTok Shop"],"summary":"Shop Search","description":"Searches TikTok Shop for products matching a keyword query. Returns an array of product objects each with `title`, `cover` image, `url` (product page link), `price`, `sold_count`, `review_count`, `rating`, and `shop_name`. Paginate with `page`; filter by region.","parameters":[{"name":"query","in":"query","required":true,"description":"Term you want to search for","schema":{"type":"string"},"example":"shoes"},{"name":"page","in":"query","required":false,"description":"Page number to retrieve","schema":{"type":"number"},"example":"1"},{"name":"region","in":"query","required":false,"description":"Region to search shop products in. Non-US TikTok Shop regions are not reliable right now and may return limited or inconsistent results. Sorry for the inconvenience.","schema":{"type":"string","enum":["US","GB","DE","FR","IT","ID","MY","MX","PH","SG","ES","TH","VN","BR","JP","IE"]},"example":"US"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/tiktok/shop/products":{"get":{"tags":["TikTok Shop"],"summary":"Shop Products","description":"Lists all products from a specific TikTok Shop store by its URL. Returns an array of product objects each with `title`, `cover` images, `url`, `price` info, `sold_count`, `review_count`, and `rating`. Paginate with `cursor` from the previous response; filter by region; use `sort_by=top` for best-selling products or `sort_by=new_releases` for newest products. Non-US shop catalog coverage depends on TikTok exposing that shop in the selected region, so some shops can return `not_found` outside the US even when they appear in shop search.","parameters":[{"name":"url","in":"query","required":true,"description":"The TikTok Shop store URL.","schema":{"type":"string"},"example":"https://www.tiktok.com/shop/store/goli-nutrition/7495794203056835079"},{"name":"cursor","in":"query","required":false,"description":"Cursor parameter from the previous response to retrieve the next page of products. Omit for the first page.","schema":{"type":"string"}},{"name":"sort_by","in":"query","required":false,"description":"Sort products by best-selling items (`top`) or newest products (`new_releases`). Defaults to `top`.","schema":{"type":"string","enum":["top","new_releases"]},"example":"top"},{"name":"region","in":"query","required":false,"description":"Region to get shop products from. Defaults to US if not provided. Non-US regions are not reliable right now and may return `not_found` or limited catalog data even when the shop appears in search. Sorry for the inconvenience.","schema":{"type":"string","enum":["US","GB","DE","FR","IT","ID","MY","MX","PH","SG","ES","TH","VN","BR","JP","IE"]},"example":"US"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/tiktok/product":{"get":{"tags":["TikTok Shop"],"summary":"Product Details","description":"Fetches full details for a specific US TikTok Shop product by its URL, including stock levels and affiliate videos. Returns `product_info` with `product_base` (title, images, sold_count, price), `skus` (variants with exact `stock` counts), and `product_detail_review` (product_rating, review_count, sample reviews); also returns `shop_info` (shop_name, shop_rating, followers_count) and `related_videos` (affiliate TikToks promoting the product). This endpoint currently supports the US region only.","parameters":[{"name":"url","in":"query","required":true,"description":"The URL of the product to get details for.","schema":{"type":"string"},"example":"https://www.tiktok.com/shop/pdp/goli-ashwagandha-gummies-with-vitamin-d-ksm-66-vegan-non-gmo/1729587769570529799"},{"name":"region","in":"query","required":false,"description":"Region for the product details request. US is the reliable region right now; non-US regions should not be considered reliable and may return `bad_request` or missing product data. Sorry for the inconvenience.","schema":{"type":"string"},"example":"US"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/tiktok/shop/product/reviews":{"get":{"tags":["TikTok Shop"],"summary":"Product Reviews","description":"Fetches customer reviews for a TikTok Shop product by URL or product_id. Returns `product_reviews`, an array of review objects each with `rating`, `display_text`, `review_timestamp_fmt`, `review_user` (name, avatar), and `sku_specification` (variant purchased); also returns `total_reviews` count and `rating_distribution`. Paginate with `page`.","parameters":[{"name":"url","in":"query","required":false,"description":"The URL of the product (required if product_id is not provided)","schema":{"type":"string"},"example":"https://www.tiktok.com/shop/pdp/cat-nail-clipper-by-potaroma-adjustable-sizes-built-in-file-safe-for-kittens-cats/1731578642912612516"},{"name":"product_id","in":"query","required":false,"description":"The ID of the product (required if url is not provided)","schema":{"type":"string"},"example":"1731578642912612516"},{"name":"region","in":"query","required":false,"description":"The region of the product. US is the reliable region right now; non-US regions should not be considered reliable and may return limited or inconsistent review data. Sorry for the inconvenience.","schema":{"type":"string"},"example":"US"},{"name":"page","in":"query","required":false,"description":"The page number of the reviews","schema":{"type":"number"},"example":"1"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/tiktok/user/showcase":{"get":{"tags":["TikTok Shop"],"summary":"User Showcase","description":"Fetches products featured in a TikTok user's public showcase — the products a creator promotes on their profile. Returns an array of product objects each with title, price, images, and shop details. Use POST request if pagination is cutting off too early. Just send the query params in the body.","parameters":[{"name":"handle","in":"query","required":true,"description":"The handle of the user","schema":{"type":"string"},"example":"mrtiktokreviews"},{"name":"region","in":"query","required":false,"description":"Region to put the proxy in. Non-US TikTok Shop regions are not reliable right now and may return limited or inconsistent showcase data. Sorry for the inconvenience.","schema":{"type":"string"},"example":"US"},{"name":"cursor","in":"query","required":false,"description":"The cursor to the next page of products","schema":{"type":"string"},"example":"21"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/instagram/profile":{"get":{"tags":["Instagram"],"summary":"Profile","description":"Retrieves comprehensive public Instagram profile information including biography, bio links, follower and following counts, verification status, and profile picture URLs. Also returns recent timeline posts with engagement metrics such as likes, comments, and video view counts, plus a list of related profiles. Useful for account overview, audience analysis, or discovering similar creators.","parameters":[{"name":"handle","in":"query","required":true,"description":"Instagram handle","schema":{"type":"string"},"example":"jane"},{"name":"trim","in":"query","required":false,"description":"Set to true to get a trimmed response","schema":{"type":"boolean"}},{"name":"cache_max_age","in":"query","required":false,"description":"If we have a response in the cache that is this many days old or newer, return the cached response (0 credits, with \"cached\": true and a \"cached_at\" timestamp). Otherwise, scrape a live result (1 credit). [See the Caching page for details.](https://docs.scrapecreators.com/caching)","schema":{"type":"string","enum":["1d","3d","7d","14d","30d"]},"example":"7d"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/instagram/basic-profile":{"get":{"tags":["Instagram"],"summary":"Basic Profile","description":"Fetches a lightweight Instagram profile summary by user ID, returning username, full name, biography, profile picture URL, verification status, follower count, following count, media count, and account privacy and type. Ideal for quick lookups or enrichment when you already have the numeric user ID.","parameters":[{"name":"userId","in":"query","required":false,"description":"Instagram user id","schema":{"type":"string"},"example":"314216"},{"name":"cache_max_age","in":"query","required":false,"description":"If we have a response in the cache that is this many days old or newer, return the cached response (0 credits, with \"cached\": true and a \"cached_at\" timestamp). Otherwise, scrape a live result (1 credit). [See the Caching page for details.](https://docs.scrapecreators.com/caching)","schema":{"type":"string","enum":["1d","3d","7d","14d","30d"]},"example":"7d"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v2/instagram/user/posts":{"get":{"tags":["Instagram"],"summary":"Posts","description":"Returns a paginated feed of a user's public Instagram posts, including reels, photos, videos, and carousels. Each item includes media type, shortcode, caption text, like count, comment count, play count, video URLs, image URLs, and tagged users. Play counts reflect Instagram-only views and exclude cross-posted Facebook views. Supports cursor-based pagination via next_max_id for scrolling through the full timeline.","parameters":[{"name":"handle","in":"query","required":true,"description":"Instagram handle","schema":{"type":"string"}},{"name":"next_max_id","in":"query","required":false,"description":"Cursor to get next page of results.","schema":{"type":"string"}},{"name":"trim","in":"query","required":false,"description":"Set to true to get a trimmed response","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/instagram/user/tagged-posts":{"get":{"tags":["Instagram"],"summary":"User Tagged Posts","description":"Returns up to 10 public posts per page from an Instagram user's Tagged tab. Each item is a flat post object with its shortcode, caption, media type, engagement counts, media URLs, and owner details. Keep passing the returned cursor to fetch additional pages until has_more is false.","parameters":[{"name":"user_id","in":"query","required":true,"description":"Numeric Instagram user ID.","schema":{"type":"string"},"example":"325734299"},{"name":"cursor","in":"query","required":false,"description":"Cursor returned by the previous response.","schema":{"type":"string"},"example":"3953374600788032611"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/instagram/user/reels":{"get":{"tags":["Instagram"],"summary":"Reels","description":"Returns a paginated list of a user's public Instagram reels (short-form videos). Each reel includes its shortcode, play count, like count, comment count, video versions with download URLs, thumbnail image, and owner info. Note that reel captions are not returned by this endpoint. Play counts are Instagram-only views and exclude cross-posted Facebook views. Supports cursor-based pagination via max_id; providing a user_id instead of a handle yields faster responses.","parameters":[{"name":"user_id","in":"query","required":false,"description":"Instagram user id. Use this for faster response times.","schema":{"type":"string"},"example":"2700692569"},{"name":"handle","in":"query","required":false,"description":"Instagram handle. Use user_id for faster response times.","schema":{"type":"string"},"example":"jane"},{"name":"max_id","in":"query","required":false,"description":"Max id to get more reels. Get 'max_id' from previous response.","schema":{"type":"string"},"example":"QVFCVzNnS2lI...=="},{"name":"trim","in":"query","required":false,"description":"Set to true for a trimmed down version of the response","schema":{"type":"boolean"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/instagram/post":{"get":{"tags":["Instagram"],"summary":"Post/Reel Info","description":"Fetches detailed metadata for a single Instagram post or reel by shortcode or URL. Returns caption text, like count, comment count, video URL, video play count, video duration, display images, owner info, tagged users, and carousel sidecar children when applicable. Play counts are Instagram-only views and exclude cross-posted Facebook views.","parameters":[{"name":"url","in":"query","required":true,"description":"Instagram post or reel URL","schema":{"type":"string"}},{"name":"region","in":"query","required":false,"description":"2 letter country code to set the proxy in","schema":{"type":"string"},"example":"US"},{"name":"trim","in":"query","required":false,"description":"Set to true to get a trimmed response","schema":{"type":"boolean"}},{"name":"download_media","in":"query","required":false,"description":"Set to true to download the video/images and get back permanent Supabase URLs. Costs 10 credits if media is found, 1 credit otherwise.","schema":{"type":"boolean"}},{"name":"cache_max_age","in":"query","required":false,"description":"If we have a response in the cache that is this many days old or newer, return the cached response (0 credits, with \"cached\": true and a \"cached_at\" timestamp). Otherwise, scrape a live result (1 credit). [See the Caching page for details.](https://docs.scrapecreators.com/caching)","schema":{"type":"string","enum":["1d","3d","7d","14d","30d"]},"example":"7d"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v2/instagram/media/transcript":{"get":{"tags":["Instagram"],"summary":"Transcript","description":"Generates an AI-powered speech-to-text transcription for an Instagram video post or reel. The video must be under 2 minutes long. Returns a transcripts array with each item's shortcode and transcribed text; carousel posts produce one transcript per video slide. Expect 10-30 second response times, and null when no speech is detected.","parameters":[{"name":"url","in":"query","required":true,"description":"Instagram post or reel URL","schema":{"type":"string"}},{"name":"cache_max_age","in":"query","required":false,"description":"If we have a response in the cache that is this many days old or newer, return the cached response (0 credits, with \"cached\": true and a \"cached_at\" timestamp). Otherwise, scrape a live result (1 credit). [See the Caching page for details.](https://docs.scrapecreators.com/caching)","schema":{"type":"string","enum":["1d","3d","7d","14d","30d"]},"example":"7d"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/instagram/search":{"get":{"tags":["Instagram"],"summary":"Search Instagram","description":"Use this for Instagram-native account, hashtag, or place lookup. It returns ranked users, hashtags, places, and keyword suggestions from Instagram itself. It is not Google-indexed, does not require an Instagram login, returns one page only, and does not return posts. For an Instagram-curated topic page with posts, use /v1/instagram/search/popular. For broader profile discovery from Google-indexed bios and captions, use /v1/instagram/search/profiles.","parameters":[{"name":"query","in":"query","required":true,"description":"The username, hashtag, place, or keyword to search for.","schema":{"type":"string"},"example":"nike"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/instagram/search/popular":{"get":{"tags":["Instagram"],"summary":"Popular Search","description":"Use this to explore an Instagram topic and the posts Instagram curates for it. It scrapes the public /popular/{query} page without requiring an Instagram login. The first page returns the topic title, numeric total media count, Instagram's generated description and sources, suggested terms, posts, and an opaque cursor. Pass that cursor with the same query to fetch more posts. Later pages return query, posts, cursor, and has_more only. For an exact hashtag through Google-indexed results, use /v1/instagram/search/hashtag. For reels only, use /v2/instagram/reels/search. Each successful request costs 1 credit.","parameters":[{"name":"query","in":"query","required":true,"description":"The Popular topic to search for.","schema":{"type":"string"},"example":"basketball"},{"name":"cursor","in":"query","required":false,"description":"The opaque cursor returned by the previous response. Use it with the same query to fetch the next page of posts.","schema":{"type":"string"},"example":"opaque-cursor-from-response"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/instagram/search/hashtag":{"get":{"tags":["Instagram"],"summary":"Search Hashtag Posts","description":"Use this when you know the exact hashtag and want Google-indexed public Instagram posts or reels, optional date filters, and pagination. It returns post details such as caption, play count when available, engagement, owner, and post time. Results are best-effort and not a complete Instagram-native hashtag feed. For an Instagram-curated topic page with generated context and suggested terms, use /v1/instagram/search/popular. Pass media_type=reels to only return reels. Cursors are limited to pages 1 through 11; cursor 12 or greater returns a 400 response.","parameters":[{"name":"hashtag","in":"query","required":true,"description":"The hashtag to search for. Include or omit the #.","schema":{"type":"string"},"example":"makeup"},{"name":"date_posted","in":"query","required":false,"description":"Only return Google-indexed posts found in this relative window.","schema":{"type":"string","enum":["last-hour","last-day","last-week","last-month","last-year"]},"example":"last-week"},{"name":"media_type","in":"query","required":false,"description":"Use all to search public posts and reels, or reels to only return reels. Defaults to all.","schema":{"type":"string","enum":["all","reels"]},"example":"all"},{"name":"cursor","in":"query","required":false,"description":"The cursor returned by the previous response. It is the next Google results page number and cannot exceed 11; cursor 12 or greater returns a 400 response.","schema":{"type":"string"},"example":"2"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"example":{"success":true,"credits_remaining":49997308058,"credits_charged":1,"hashtag":"funnydogs","media_type":"all","posts":[{"id":"3714950709444987377","__typename":"XDTGraphVideo","shortcode":"DOOJ_zSjcnx","url":"https://www.instagram.com/reel/DOOJ_zSjcnx/","caption":"Well we tried to be subtle…  #funnydogs #funny #whiteboxer #australianshepherd","thumbnail_src":"https://scontent-ord5-2.cdninstagram.com/v/t51.82787-15/542212527_18130644664455761_8262846918103190683_n.jpg?stp=c0.509.1312.1312a_dst-jpg_e35_s640x640_sh2.08_tt6&_nc_ht=scontent-ord5-2.cdninstagram.com&_nc_cat=105&_nc_oc=Q6cZ2gGAVcFN0K6MoOopK41K4dWjOeZZaT9xgOadaLiAbdnmQSVNlQgD_lz8yQLaXrtvYeY&_nc_ohc=eV6SPEh2O88Q7kNvwHcNeFx&_nc_gid=tAUZdiRnIdGjcNvGfTjMvg&edm=ANTKIIoBAAAA&ccb=7-5&oh=00_Af6BLCF7O_laTkSuoqn5Ebg8ZWg57JkaXtBAb6nH0KapPg&oe=6A1D1BB2&_nc_sid=d885a2","display_url":"https://scontent-ord5-2.cdninstagram.com/v/t51.82787-15/542212527_18130644664455761_8262846918103190683_n.jpg?stp=dst-jpg_e35_p1080x1080_sh2.08_tt6&_nc_ht=scontent-ord5-2.cdninstagram.com&_nc_cat=105&_nc_oc=Q6cZ2gGAVcFN0K6MoOopK41K4dWjOeZZaT9xgOadaLiAbdnmQSVNlQgD_lz8yQLaXrtvYeY&_nc_ohc=eV6SPEh2O88Q7kNvwHcNeFx&_nc_gid=tAUZdiRnIdGjcNvGfTjMvg&edm=ANTKIIoBAAAA&ccb=7-5&oh=00_Af6TdnB6cfe_BkRBRYP65isRGJfDrp2evUQY9O_ReUHv2g&oe=6A1D1BB2&_nc_sid=d885a2","video_url":"https://scontent-ord5-2.cdninstagram.com/o1/v/t2/f2/m86/AQNG_gCzevxl8xiNB2lVRlcV8c3o3r2ZyeLeWfaY4eaHdyRX3_Z1mty2jrHuH5Z66vTC5SXrhmpdG5re9MNyf1jCtWVyPKAWQFQ037o.mp4?_nc_cat=104&_nc_sid=5e9851&_nc_ht=scontent-ord5-2.cdninstagram.com&_nc_ohc=ByTiQjuOr9wQ7kNvwGpBh0x&efg=eyJ2ZW5jb2RlX3RhZyI6Inhwdl9wcm9ncmVzc2l2ZS5JTlNUQUdSQU0uQ0xJUFMuQzMuNzIwLmRhc2hfYmFzZWxpbmVfMV92MSIsInhwdl9hc3NldF9pZCI6MTEyMDQ3OTIyMDA0MTUwMSwiYXNzZXRfYWdlX2RheXMiOjI2NCwidmlfdXNlY2FzZV9pZCI6MTAwOTksImR1cmF0aW9uX3MiOjY1LCJ1cmxnZW5fc291cmNlIjoid3d3In0%3D&ccb=17-1&vs=638842146c84456b&_nc_vs=HBksFQIYUmlnX3hwdl9yZWVsc19wZXJtYW5lbnRfc3JfcHJvZC80QTQ2OURBNUJBQTE1RjdFODZFRjQxRThCOUU1RTNBOV92aWRlb19kYXNoaW5pdC5tcDQVAALIARIAFQIYRmlnX3hwdl9yZWVsc19wZXJtYW5lbnRfc3JfcHJvZC83NDQ4NjQwMTg0MjI1MjdfODI5Mjc2OTQ2ODc2ODI3MDk4OC5tcDQVAgLIARIAKAAYABsCiAd1c2Vfb2lsATEScHJvZ3Jlc3NpdmVfcmVjaXBlATEVAAAmupyc3rzE_QMVAigCQzMsF0BQbul41P30GBJkYXNoX2Jhc2VsaW5lXzFfdjERAHX-B2XmnQEA&_nc_gid=tAUZdiRnIdGjcNvGfTjMvg&_nc_ss=7a22e&_nc_zt=28&oh=00_Af6Z6PbM9b2RWG7EdCufc8MOp-pcmhJu3EMKtd_pzJaopw&oe=6A193955","has_audio":false,"accessibility_caption":null,"video_view_count":148581,"video_play_count":593055,"product_type":"clips","video_duration":65.733,"clips_music_attribution_info":{"artist_name":"_layla_the_boxer","song_name":"Original audio","uses_original_audio":true,"should_mute_audio":false,"should_mute_audio_reason":"","audio_id":"1303301604923923"},"is_video":true,"owner":{"id":"13582495760","username":"_layla_the_boxer","is_verified":true,"profile_pic_url":"https://scontent-ord5-3.cdninstagram.com/v/t51.2885-19/420493539_1460561894498614_4791883467164866946_n.jpg?stp=dst-jpg_s150x150_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6InByb2ZpbGVfcGljLmRqYW5nby4xMDgwLmMyIn0&_nc_ht=scontent-ord5-3.cdninstagram.com&_nc_cat=110&_nc_oc=Q6cZ2gGAVcFN0K6MoOopK41K4dWjOeZZaT9xgOadaLiAbdnmQSVNlQgD_lz8yQLaXrtvYeY&_nc_ohc=aeHo4Q_mApIQ7kNvwERao4Z&_nc_gid=tAUZdiRnIdGjcNvGfTjMvg&edm=ANTKIIoBAAAA&ccb=7-5&oh=00_Af4Fxb_M04AcFcB7JVo3PYiMVir3WS0vIloaPKB0igyV_g&oe=6A1D1119&_nc_sid=d885a2","full_name":"Layla the Boxer","is_private":false,"is_unpublished":false,"follower_count":1369176,"post_count":1184},"taken_at":"2025-09-05T12:51:42.000Z","is_ad":false,"like_count":35854,"is_affiliate":false,"is_paid_partnership":false,"location":null,"comment_count":1263,"comments":[{"id":"18099897668494530","text":"😂😅🤣😍❤️🥰","owner":{"id":"70821489119","is_verified":false,"profile_pic_url":"https://scontent-ord5-3.cdninstagram.com/v/t51.2885-19/466368394_545365701466258_2087161965910224562_n.jpg?stp=dst-jpg_s150x150_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6InByb2ZpbGVfcGljLmRqYW5nby4xMDgwLmMyIn0&_nc_ht=scontent-ord5-3.cdninstagram.com&_nc_cat=110&_nc_oc=Q6cZ2gGAVcFN0K6MoOopK41K4dWjOeZZaT9xgOadaLiAbdnmQSVNlQgD_lz8yQLaXrtvYeY&_nc_ohc=JxQ38FoXdhsQ7kNvwH3PKC0&_nc_gid=tAUZdiRnIdGjcNvGfTjMvg&edm=ANTKIIoBAAAA&ccb=7-5&oh=00_Af5bZb_HVbD8jFTK8i271c6IoeUyGR3iiKL-YVd-tFY_Yw&oe=6A1D05C8&_nc_sid=d885a2","username":"jesshman66"},"like_count":0,"created_at":"2026-01-25T13:33:43.000Z"}]}],"cursor":null}}}}}}},"/v1/instagram/search/profiles":{"get":{"tags":["Instagram"],"summary":"Search Instagram Profiles","description":"Use this for broad creator discovery from keywords found in Google-indexed Instagram profile pages, bios, and post captions. Profile-page matches are marked matched_from=profile; caption matches are enriched into the creator profile and marked matched_from=caption. This is best-effort and can paginate, but it is not Instagram-native or complete. For Instagram's own ranked account results, use /v1/instagram/search. Cursors are limited to pages 1 through 11; cursor 12 or greater returns a 400 response.","parameters":[{"name":"query","in":"query","required":true,"description":"Bio or caption keyword/phrase to search for.","schema":{"type":"string"},"example":"fitness coach"},{"name":"cursor","in":"query","required":false,"description":"The cursor returned by the previous response. It is the next Google results page number and cannot exceed 11; cursor 12 or greater returns a 400 response.","schema":{"type":"string"},"example":"2"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v2/instagram/reels/search":{"get":{"tags":["Instagram"],"summary":"Search Reels","description":"Use this when you only want Google-indexed Instagram reels matching a keyword or phrase, with optional date filters and pagination. It returns reel media, engagement, owner, location, and audio details. Results are best-effort rather than a complete Instagram-native search. For Instagram-curated topic posts, use /v1/instagram/search/popular. For an exact hashtag across posts and reels, use /v1/instagram/search/hashtag. Play counts are Instagram-only and exclude cross-posted Facebook views. Pages 1 through 11 are supported; page 12 or greater returns a 400 response.","parameters":[{"name":"query","in":"query","required":true,"description":"The keyword to search for","schema":{"type":"string"},"example":"dogs"},{"name":"date_posted","in":"query","required":false,"description":"Date posted","schema":{"type":"string","enum":["last-hour","last-day","last-week","last-month","last-year"]},"example":"last-hour"},{"name":"page","in":"query","required":false,"description":"The page number to return. Must be between 1 and 11; page 12 or greater returns a 400 response.","schema":{"type":"number"},"example":1}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/instagram/audio/reels":{"get":{"tags":["Instagram"],"summary":"Get Reels By Audio Id","description":"Fetches the reels Instagram exposes for an audio page like instagram.com/reels/audio/{audio_id}/. Pass the audio_id from that URL. Use cursor from the previous response to request the next page when Instagram returns one.","parameters":[{"name":"audio_id","in":"query","required":true,"description":"The audio id from the Instagram audio page URL.","schema":{"type":"string"},"example":"1392969992841787"},{"name":"cursor","in":"query","required":false,"description":"Pagination cursor returned by Instagram from the previous response.","schema":{"type":"string"},"example":"Gsbyq-aju4eF02y..."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/instagram/reels/trending":{"get":{"tags":["Instagram"],"summary":"Trending Reels","description":"Fetches trending reels from Instagram's public instagram.com/reels page. Instagram only gives a small batch at a time and the results can overlap, so call this endpoint over and over when you want more. Each call should return new-ish results, but expect some duplicates because that is how Instagram's reels page behaves too. Returns `reels`, an array of reel objects with shortcode, URL, caption, media URLs, engagement counts when Instagram exposes them, and user info.","responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v2/instagram/post/comments":{"get":{"tags":["Instagram"],"summary":"Comments","description":"Retrieves comments on a public Instagram post or reel. Each comment includes the comment text, creation timestamp, reply count when Instagram provides it, and commenter details such as username, user ID, verification status, and profile picture URL. `child_comment_count` can be null when Instagram does not expose the count publicly. Set `include_replies=true` to fetch the first page of replies for every returned comment. This adds `replies`, `replies_cursor`, and `has_more_replies` to each comment. This option always costs 15 credits because Scrape Creators makes a separate Instagram replies request for every comment in the response. It is possible that no replies are returned, but you will still be charged 15 credits because those reply lookups were performed. This option is much slower than a normal comments request and may time out at 29 seconds. Supports cursor-based pagination to load additional comment pages.","parameters":[{"name":"url","in":"query","required":true,"description":"The URL of the post or reel to get comments from","schema":{"type":"string"},"example":"https://www.instagram.com/reel/DOq6eV6iIgD"},{"name":"cursor","in":"query","required":false,"description":"The cursor to get more comments. Get 'cursor' from previous response.","schema":{"type":"string"},"example":"eyJjYWNoZWRfY29tbWVud..."},{"name":"include_replies","in":"query","required":false,"description":"Set to true to include replies for every returned comment. This always costs 15 credits because each comment requires a separate Instagram replies request. You will still be charged 15 credits if no replies are returned. This is much slower and may time out at 29 seconds.","schema":{"type":"boolean"},"example":"true"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/instagram/post/comment/replies":{"get":{"tags":["Instagram"],"summary":"Comment Replies","description":"Retrieves the public replies to a specific Instagram comment. Pass the post or reel URL and the parent comment's `id` from the Comments endpoint. Returns reply text, timestamps, engagement counts, parent comment ID, and user details. Paginate with `cursor` when `has_more` is true.","parameters":[{"name":"url","in":"query","required":true,"description":"The Instagram post or reel URL","schema":{"type":"string"},"example":"https://www.instagram.com/reel/C8rKmYvsrck"},{"name":"comment_id","in":"query","required":true,"description":"The parent comment ID from the Comments endpoint","schema":{"type":"string"},"example":"18038110327814211"},{"name":"cursor","in":"query","required":false,"description":"The cursor to get more replies. Get `cursor` from the previous response.","schema":{"type":"string"},"example":"QVFDc29..."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/instagram/user/highlights":{"get":{"tags":["Instagram"],"summary":"Story Highlights","description":"Lists all story highlight albums for an Instagram user. Each highlight includes its ID, title, cover thumbnail URL, and owner info with username and profile picture. Accepts either a user_id or handle; providing user_id yields faster responses.","parameters":[{"name":"user_id","in":"query","required":false,"description":"Instagram user id. Use for faster response times.","schema":{"type":"string"},"example":"2700692569"},{"name":"handle","in":"query","required":false,"description":"Instagram handle. Use user_id for faster response times.","schema":{"type":"string"},"example":"jane"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/instagram/user/highlight/detail":{"get":{"tags":["Instagram"],"summary":"Highlights Details","description":"Fetches the full contents of a specific Instagram story highlight album by its ID. Returns the highlight's cover image, title, user info, and an items array containing each story with its media type, image or video URLs, dimensions, timestamp, and sticker/interactive element data. Useful for archiving or analyzing individual highlight reels.","parameters":[{"name":"id","in":"query","required":false,"description":"The ID of the highlight to get details for","schema":{"type":"string"},"example":"18067016518767507"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/instagram/user/embed":{"get":{"tags":["Instagram"],"summary":"Embed HTML","description":"Returns the raw HTML embed snippet for an Instagram user's profile widget. The response contains a single html string that can be inserted into a webpage to render an embeddable Instagram profile card. Requires the user's handle as input.","parameters":[{"name":"handle","in":"query","required":true,"description":"Instagram handle","schema":{"type":"string"},"example":"jane"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/youtube/channel":{"get":{"tags":["YouTube"],"summary":"Channel Details","description":"Retrieves comprehensive YouTube channel profile data including name, avatar images, subscriber count (subscribers), total video and view counts, join date, tags, and linked social accounts like Twitter and Instagram. Accepts a channelId, handle, or full channel URL as input. Returns channel metadata such as country, email, and external store links when available. Contact fields come from the submitted public profile. To request removal of your own information from Scrape Creators results, email support@scrapecreators.com with the profile URL.","parameters":[{"name":"channelId","in":"query","required":false,"description":"YouTube channel ID. Can pass a channelId, handle or url","schema":{"type":"string"},"example":"UC-9-kyTW8ZkZNDHQJ6FgpwQ"},{"name":"handle","in":"query","required":false,"description":"YouTube channel handle. Can pass a channelId, handle or url","schema":{"type":"string"},"example":"ThePatMcAfeeShow"},{"name":"url","in":"query","required":false,"description":"YouTube channel URL. Can pass a channelId, handle or url","schema":{"type":"string"},"example":"https://www.youtube.com/@ThePatMcAfeeShow"},{"name":"cache_max_age","in":"query","required":false,"description":"If we have a response in the cache that is this many days old or newer, return the cached response (0 credits, with \"cached\": true and a \"cached_at\" timestamp). Otherwise, scrape a live result (1 credit). [See the Caching page for details.](https://docs.scrapecreators.com/caching)","schema":{"type":"string","enum":["1d","3d","7d","14d","30d"]},"example":"7d"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/youtube/channel-videos":{"get":{"tags":["YouTube"],"summary":"Channel Videos","description":"Fetches a paginated list of videos uploaded by a YouTube channel, including each video's title, URL, thumbnail, view count (views), publish date, duration, and description. Supports sorting by latest or popular, and use the continuationToken to page through all results. Optionally include extras like like count, comment count, and descriptions for each video.","parameters":[{"name":"channelId","in":"query","required":false,"description":"YouTube channel ID","schema":{"type":"string"},"example":"UC-9-kyTW8ZkZNDHQJ6FgpwQ"},{"name":"handle","in":"query","required":false,"description":"YouTube channel handle","schema":{"type":"string"},"example":"ThePatMcAfeeShow"},{"name":"sort","in":"query","required":false,"description":"Sort by latest or popular","schema":{"type":"string","enum":["latest","popular"]},"example":"latest"},{"name":"continuationToken","in":"query","required":false,"description":"Continuation token to get more videos. Get 'continuationToken' from previous response.","schema":{"type":"string"},"example":"4qmFsgKrCBIYVUNkRkpXVWE0M3NtUm00SXBIQnB"},{"name":"is_paid_promotions","in":"query","required":false,"description":"Set to 'true' to search YouTube's public paid product placement / sponsorship / endorsement search surface. This returns normal YouTube videos where the creator declared paid promotion. Cannot be combined with filter, uploadDate, sortBy, type, duration, or includeExtras.","schema":{"type":"string"},"example":"false"},{"name":"includeExtras","in":"query","required":false,"description":"This will get you the like + comment count and the description. To get the full details of the video, use the /v1/youtube/video endpoint. Honestly, if you use this param, the error rate is higher. We might deprecate this param in the future.","schema":{"type":"string"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/youtube/channel/playlists":{"get":{"tags":["YouTube"],"summary":"Channel Playlists","description":"Fetches playlists from a YouTube channel's Playlists tab, including playlist ID, title, thumbnail, video count, channel info, playlist URL, and a continuationToken when YouTube has more results. Pass a handle or channelId for the first page, then pass continuationToken to page through more playlists.","parameters":[{"name":"channelId","in":"query","required":false,"description":"YouTube channel ID","schema":{"type":"string"},"example":"UCX6OQ3DkcsbYNE6H8uQQuVA"},{"name":"handle","in":"query","required":false,"description":"YouTube channel handle","schema":{"type":"string"},"example":"MrBeast"},{"name":"continuationToken","in":"query","required":false,"description":"Continuation token to get more playlists. Get 'continuationToken' from previous response.","schema":{"type":"string"},"example":"4qmFsgKrCBIYVUNkRkpXVWE0M3NtUm00SXBIQnB"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/youtube/channel/lives":{"get":{"tags":["YouTube"],"summary":"Channel Lives","description":"Fetches live streams and past streams from a YouTube channel's Live tab, including title, URL, thumbnail, view count, publish time, duration, and a continuationToken when YouTube has more results. Pass a handle or channelId for the first page, then pass continuationToken to page through more lives.","parameters":[{"name":"channelId","in":"query","required":false,"description":"YouTube channel ID","schema":{"type":"string"},"example":"UCWsDFcIhY2DBi3GB5uykGXA"},{"name":"handle","in":"query","required":false,"description":"YouTube channel handle","schema":{"type":"string"},"example":"IShowSpeed"},{"name":"continuationToken","in":"query","required":false,"description":"Continuation token to get more lives. Get 'continuationToken' from previous response.","schema":{"type":"string"},"example":"4qmFsgKrCBIYVUNkRkpXVWE0M3NtUm00SXBIQnB"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/youtube/channel/community-posts":{"get":{"tags":["YouTube"],"summary":"Channel Community Posts","description":"Fetches community posts from a YouTube channel's Posts tab, including post ID, URL, content, images, attached video, like count, publish time, channel info, and a continuationToken when YouTube has more results. Pass a handle or channelId for the first page, then pass continuationToken to page through more posts.","parameters":[{"name":"channelId","in":"query","required":false,"description":"YouTube channel ID","schema":{"type":"string"},"example":"UCX6OQ3DkcsbYNE6H8uQQuVA"},{"name":"handle","in":"query","required":false,"description":"YouTube channel handle","schema":{"type":"string"},"example":"MrBeast"},{"name":"continuationToken","in":"query","required":false,"description":"Continuation token to get more community posts. Get 'continuationToken' from previous response.","schema":{"type":"string"},"example":"4qmFsgKrCBIYVUNkRkpXVWE0M3NtUm00SXBIQnB"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/youtube/channel/shorts":{"get":{"tags":["YouTube"],"summary":"Channel Shorts","description":"Retrieves a paginated list of short-form videos (Shorts) from a YouTube channel, including each short's title, URL, view count (views), likes, comments, and description. Supports sorting by newest or popular, and use the continuationToken to page through all results. Returns data in the shorts array.","parameters":[{"name":"handle","in":"query","required":false,"description":"Can pass channelId or handle","schema":{"type":"string"},"example":"starterstory"},{"name":"channelId","in":"query","required":false,"description":"Can pass channelId or handle","schema":{"type":"string"},"example":"UC-9-kyTW8ZkZNDHQJ6FgpwQ"},{"name":"sort","in":"query","required":false,"description":"Sort by newest or popular","schema":{"type":"string","enum":["newest","popular"]},"example":"newest"},{"name":"continuationToken","in":"query","required":false,"description":"Continuation token to get more videos. Get 'continuationToken' from previous response.","schema":{"type":"string"},"example":"4qmFsgKrCBIYVUNkRkpXVWE0M3NtUm00SXBIQnB"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/youtube/video":{"get":{"tags":["YouTube"],"summary":"Video/Short Details","description":"Fetches full details for a YouTube video or short, including title, description, thumbnail, view count (views), like count (likes), comment count, publish date, duration, genre, keywords, chapters, collaborators, and available caption tracks (subtitles/captions). Also returns related recommended videos in watchNextVideos and channel info for the uploader. When YouTube exposes its public Most replayed graph, most_replayed contains normalized graph buckets in markers and YouTube's highlighted ranges in ranges. The field is null when the graph is not available. YouTube says the graph may be unavailable when the channel has active strikes, the content is potentially inappropriate, the video is too new or has too few views, or its systems deem the video ineligible for another reason. YouTube does not publish fixed age or view-count thresholds. Age-restricted videos return 403 with message: \"This video is age restricted\" because Scrape Creators only uses the public logged-out YouTube source.","parameters":[{"name":"url","in":"query","required":true,"description":"YouTube video or short URL","schema":{"type":"string"},"example":"https://www.youtube.com/watch?v=Y2Ah_DFr8cw"},{"name":"language","in":"query","required":false,"description":"Preferred response language (mapped to Accept-Language header; not guaranteed due to YouTube localization behavior). 2 letter language code, ie 'en', 'es', 'fr' etc.","schema":{"type":"string"},"example":"en"},{"name":"cache_max_age","in":"query","required":false,"description":"If we have a response in the cache that is this many days old or newer, return the cached response (0 credits, with \"cached\": true and a \"cached_at\" timestamp). Otherwise, scrape a live result (1 credit). [See the Caching page for details.](https://docs.scrapecreators.com/caching)","schema":{"type":"string","enum":["1d","3d","7d","14d","30d"]},"example":"7d"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/youtube/video/transcript":{"get":{"tags":["YouTube"],"summary":"Transcript","description":"Retrieves the captions, subtitles, or transcript of a YouTube video or Short. Returns both a timestamped transcript array with start/end times and a plain-text version in transcript_only_text. Supports specifying a language code. There is no two-minute limit for YouTube. Long videos, including podcasts, work when YouTube exposes public captions. If no matching caption track is available, the transcript fields return null.","parameters":[{"name":"url","in":"query","required":true,"description":"YouTube video or short URL","schema":{"type":"string"},"example":"https://www.youtube.com/watch?v=bjVIDXPP7Uk"},{"name":"language","in":"query","required":false,"description":"2 letter language code, ie 'en', 'es', 'fr' etc. If the transcript is not available in the language you specify, the transcript will be null.","schema":{"type":"string"},"example":"en"},{"name":"cache_max_age","in":"query","required":false,"description":"If we have a response in the cache that is this many days old or newer, return the cached response (0 credits, with \"cached\": true and a \"cached_at\" timestamp). Otherwise, scrape a live result (1 credit). [See the Caching page for details.](https://docs.scrapecreators.com/caching)","schema":{"type":"string","enum":["1d","3d","7d","14d","30d"]},"example":"7d"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/youtube/video/sponsors":{"get":{"tags":["YouTube"],"summary":"Video Sponsors","description":"Experimental endpoint. Checks a YouTube video for the paid-promotion disclosure and infers likely sponsors/promoted brands from the public description, description links, promo-code text, and transcript. YouTube tells us that a video contains paid promotion, but it does not always tell us the sponsor directly, so this endpoint returns suspected sponsors with confidence and evidence. This is inferred, not an official YouTube sponsor field. Feedback welcome: support@scrapecreators.com","parameters":[{"name":"url","in":"query","required":true,"description":"YouTube video or short URL","schema":{"type":"string"},"example":"https://www.youtube.com/watch?v=AVO0ifle-OU"},{"name":"language","in":"query","required":false,"description":"2 letter language code used for transcript lookup, ie 'en', 'es', 'fr' etc.","schema":{"type":"string"},"example":"en"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/youtube/search":{"get":{"tags":["YouTube"],"summary":"Search","description":"Searches YouTube by keyword query and returns matching videos, channels, playlists, shorts, shelves, and live streams. Each video result includes title, URL, thumbnail, view count (views), publish date, duration, channel info, and badges. Supports filtering by upload date, sorting by relevance or popularity, and paginating with continuationToken. Set is_paid_promotions=true to search YouTube videos with the paid product placement / sponsorship disclosure.","parameters":[{"name":"query","in":"query","required":true,"description":"Search query","schema":{"type":"string"}},{"name":"uploadDate","in":"query","required":false,"description":"Upload date","schema":{"type":"string","enum":["today","this_week","this_month","this_year"]}},{"name":"sortBy","in":"query","required":false,"description":"Sort by","schema":{"type":"string","enum":["relevance","popular"]},"example":"relevance"},{"name":"type","in":"query","required":false,"description":"Type of content to search for","schema":{"type":"string","enum":["videos","shorts","channels","playlists"]},"example":"videos"},{"name":"duration","in":"query","required":false,"description":"Duration of the video. Only applies to videos (not shorts).","schema":{"type":"string","enum":["under_3_min","between_3_and_20_min","over_20_min"]},"example":"under_3_min"},{"name":"region","in":"query","required":false,"description":"2 letter country code of the country to put the proxy in.","schema":{"type":"string"},"example":"US"},{"name":"continuationToken","in":"query","required":false,"description":"Continuation token to get more videos. Get 'continuationToken' from previous response.","schema":{"type":"string"},"example":"4qmFsgKrCBIYVUNkRkpXVWE0M3NtUm00SXBIQnB"},{"name":"includeExtras","in":"query","required":false,"description":"This will get you the like + comment count and the description. To get the full details of the video, use the /v1/youtube/video endpoint. *This will slow down the response slightly.*","schema":{"type":"string"},"example":"false"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/youtube/search/hashtag":{"get":{"tags":["YouTube"],"summary":"Search by Hashtag","description":"Searches YouTube for content matching a specific hashtag and returns matching videos with title, URL, thumbnail, view count (views), publish date, duration, and channel info. Supports pagination via continuationToken and filtering to return all content types or only shorts.","parameters":[{"name":"hashtag","in":"query","required":true,"description":"Hashtag to search for","schema":{"type":"string"},"example":"funny"},{"name":"continuationToken","in":"query","required":false,"description":"Continuation token to get more videos. Get 'continuationToken' from previous response.","schema":{"type":"string"},"example":"4qmFsgKrCBIYVUNkRkpXVWE0M3NtUm00SXBIQnB"},{"name":"type","in":"query","required":false,"description":"Search for all types of content or only shorts","schema":{"type":"string","enum":["all","shorts"]},"example":"all"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/youtube/video/comments":{"get":{"tags":["YouTube"],"summary":"Comments","description":"Fetches comments and replies from a YouTube video, including each comment's text content, author details, like count, reply count, and publish date. Supports ordering by top or newest, and paginating with continuationToken. Limited to approximately 1,000 top comments or 7,000 newest comments.","parameters":[{"name":"url","in":"query","required":true,"description":"YouTube video URL","schema":{"type":"string"},"example":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"},{"name":"continuationToken","in":"query","required":false,"description":"Continuation token to get more comments. Get 'continuationToken' from previous response.","schema":{"type":"string"},"example":"4qmFsgKrCBIYVUNkRkpXVWE0M3NtUm00SXBIQnB"},{"name":"order","in":"query","required":false,"description":"Order of comments","schema":{"type":"string","enum":["top","newest"]},"example":"top"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/youtube/video/comment/replies":{"get":{"tags":["YouTube"],"summary":"Comment Replies","description":"Fetches replies to a specific comment on a YouTube video, including each reply's text content, author details (name, channel ID, avatar, verified/creator status), like count, and publish date. Requires a continuationToken obtained from the 'repliesContinuationToken' field on comments returned by the Comments endpoint. Supports paginating through additional replies with the continuationToken returned in each response.","parameters":[{"name":"continuationToken","in":"query","required":true,"description":"Continuation token for the comment replies. Use 'repliesContinuationToken' from the Comments endpoint, or 'continuationToken' from a previous replies response to paginate.","schema":{"type":"string"},"example":"Eg0SC2RRdzR3OVdnWGNRGAYygwEaUBIa..."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/youtube/shorts/trending":{"get":{"tags":["YouTube"],"summary":"Trending Shorts","description":"Fetches approximately 48 currently trending YouTube Shorts (viral/popular short-form videos) per call, returning each short's title, URL, thumbnail, view count (views), like count (likes), comment count, publish date, channel info, keywords, and duration. Each subsequent call returns a fresh batch of different trending shorts.","responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/youtube/playlist":{"get":{"tags":["YouTube"],"summary":"Playlist","description":"Retrieves all videos in a YouTube playlist, including the playlist title, owner info, total video count, and each video's title, URL, thumbnail, duration, and channel. Accepts the playlist ID found in the 'list' URL parameter.","parameters":[{"name":"playlist_id","in":"query","required":true,"description":"The ID of the YouTube playlist. In the YouTube URL it will be the 'list' parameter.","schema":{"type":"string"},"example":"PLP32wGpgzmIlInfgKVFfCwVsxgGqZNIiS"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/youtube/community-post":{"get":{"tags":["YouTube"],"summary":"Community Post Details","description":"Retrieves the full details of a YouTube community post, including its text content, attached images, like count, publish date, and associated channel info. Also returns a linked video if the post includes one.","parameters":[{"name":"url","in":"query","required":true,"description":"The URL of the YouTube community post to get","schema":{"type":"string"},"example":"https://www.youtube.com/post/Ugkxvj2KoApYAXoqLWnKVr6zZe5JjeHrQeP8"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/rumble/search":{"get":{"tags":["Rumble"],"summary":"Search","description":"Searches Rumble videos by keyword. Returns matching videos and shorts with title, URL, thumbnail, channel, published date, viewCountText, viewCountInt, and a numeric cursor for the next page.","parameters":[{"name":"query","in":"query","required":true,"description":"Search query.","schema":{"type":"string"},"example":"funny cats"},{"name":"cursor","in":"query","required":false,"description":"Cursor from the previous response. This is the next page number, like 2 or 3.","schema":{"type":"string"},"example":"2"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/rumble/channel/videos":{"get":{"tags":["Rumble"],"summary":"Channel Videos","description":"Gets videos from a Rumble channel by handle or URL. Returns channel metadata, videos, shorts, and a numeric cursor for the next page.","parameters":[{"name":"handle","in":"query","required":false,"description":"Rumble channel handle. If you'd prefer to use the URL instead, use the url parameter.","schema":{"type":"string"},"example":"CuteCats223"},{"name":"url","in":"query","required":false,"description":"Rumble channel URL. If you'd prefer to use the handle instead, use the handle parameter.","schema":{"type":"string"},"example":"https://rumble.com/c/CuteCats223"},{"name":"cursor","in":"query","required":false,"description":"Cursor from the previous response. This is the next page number, like 2 or 3.","schema":{"type":"string"},"example":"2"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/rumble/video":{"get":{"tags":["Rumble"],"summary":"Video","description":"Gets Rumble video details by URL. Returns title, description, thumbnail, channel, publish date, view count, likes, dislikes, captions, and media metadata when available.","parameters":[{"name":"url","in":"query","required":true,"description":"Rumble video URL.","schema":{"type":"string"},"example":"https://rumble.com/v79xhhm-discovery-why-glenn-wants-israel-to-sue-the-new-york-times.html"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/rumble/video/transcript":{"get":{"tags":["Rumble"],"summary":"Transcript","description":"Gets a Rumble video's transcript when captions are available. If Rumble does not expose captions for the video, transcript will be null and you will not be charged.","parameters":[{"name":"url","in":"query","required":true,"description":"Rumble video URL.","schema":{"type":"string"},"example":"https://rumble.com/valm19-funny-cat-funny-cat.html"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/rumble/video/comments":{"get":{"tags":["Rumble"],"summary":"Comments","description":"Gets all top level comments for a Rumble video by URL. Returns comment text, author, createdAt, createdAtText, likeCount, dislikeCount, and replyCount when comment bodies are public.","parameters":[{"name":"url","in":"query","required":true,"description":"Rumble video URL.","schema":{"type":"string"},"example":"https://rumble.com/v792vns-the-splc-is-a-deceitful-and-poisonous-group.-but-was-their-behavior-crimina.html?e9s=rel_v2_ep"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/linkedin/profile":{"get":{"tags":["LinkedIn"],"summary":"Person's Profile","description":"Retrieves a person's public LinkedIn profile data, including their name, photo, location, follower count (followers), about/bio summary, recent posts, work experience, education, articles, activity feed, publications, projects, recommendations, and similar profiles. Only returns publicly available information visible in an incognito browser.","parameters":[{"name":"url","in":"query","required":true,"description":"The URL of the LinkedIn profile to get","schema":{"type":"string"},"example":"https://www.linkedin.com/in/parrsam/"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/linkedin/company":{"get":{"tags":["LinkedIn"],"summary":"Company Page","description":"Fetches a LinkedIn company page with details including name, description, logo, cover image, slogan, location, headquarters, employee count (headcount/staff size), website, industry, company type, founded year, specialties, funding rounds with investors, featured employees, recent posts, and similar company pages.","parameters":[{"name":"url","in":"query","required":true,"description":"The URL of the LinkedIn company page to get","schema":{"type":"string"},"example":"https://linkedin.com/company/shopify"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/linkedin/company/posts":{"get":{"tags":["LinkedIn"],"summary":"Company Posts","description":"Retrieves paginated posts from a LinkedIn company page, including each post's URL, ID, publication date, and full text content. Supports page-based pagination up to a maximum of 7 pages due to a LinkedIn platform limitation.","parameters":[{"name":"url","in":"query","required":true,"description":"The URL of the LinkedIn company page to get","schema":{"type":"string"},"example":"https://linkedin.com/company/shopify"},{"name":"page","in":"query","required":false,"description":"The page number to get","schema":{"type":"number"},"example":"1"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/linkedin/search/posts":{"get":{"tags":["LinkedIn"],"summary":"Search Posts","description":"Finds public LinkedIn posts, feed updates, and Pulse articles by keyword using Google Search, then returns post details such as description, author, media, images, like count, comment count, and published date when LinkedIn exposes them publicly. Results depend on what Google has indexed, so this is best-effort and not a complete LinkedIn-native search. Use date_posted for recent posts and pass the returned cursor to fetch the next page. Cursors are limited to pages 1 through 11; cursor 12 or greater returns a 400 response.","parameters":[{"name":"query","in":"query","required":true,"description":"Keyword or phrase to search for in public LinkedIn posts","schema":{"type":"string"},"example":"ai agents"},{"name":"date_posted","in":"query","required":false,"description":"Date posted filter based on Google-indexed results","schema":{"type":"string","enum":["last-hour","last-day","last-week","last-month","last-year"]},"example":"last-week"},{"name":"cursor","in":"query","required":false,"description":"The cursor returned from the previous response. The maximum cursor is 11; cursor 12 or greater returns a 400 response.","schema":{"type":"string"},"example":"2"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/linkedin/post":{"get":{"tags":["LinkedIn"],"summary":"Post","description":"Fetches a single LinkedIn post or article, returning the title, headline, full description text, author info with follower count, publication date, like count (reactions), comment count, and individual comments. Also includes related articles from the same author in moreArticles.","parameters":[{"name":"url","in":"query","required":true,"description":"The URL of the LinkedIn post to get","schema":{"type":"string"},"example":"https://www.linkedin.com/pulse/being-father-has-made-me-better-leader-vice-versa-austen-allred/"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/linkedin/post/transcript":{"get":{"tags":["LinkedIn"],"summary":"Post Transcript","description":"Fetches the transcript from a LinkedIn post video when LinkedIn exposes one publicly. Returns null with transcriptNotAvailable when the post has no transcript, and only deducts credits when a transcript is returned.","parameters":[{"name":"url","in":"query","required":true,"description":"The URL of the LinkedIn post to get the transcript from","schema":{"type":"string"},"example":"https://www.linkedin.com/posts/gemini-35-flash-is-a-step-forward-for-google-ugcPost-7465082215316525056-MHBd/"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/facebook/profile":{"get":{"tags":["Facebook"],"summary":"Profile","description":"Retrieves public Facebook page details including category, address, email, phone, website, services, priceRange, rating, likeCount, and followerCount. Also returns adLibrary status with the page's ad activity and pageId. Optionally includes businessHours when get_business_hours is set to true. Contact fields come from the submitted public profile. To request removal of your own information from Scrape Creators results, email support@scrapecreators.com with the profile URL. If Facebook shows an 18+ content gate, the response is still 200 with account_status: \"age-restricted\" and isPrivate: true. If Facebook shows a private content gate, the response is still 200 with account_status: \"private\" and isPrivate: true. If the page is not found, the response is 404 with accountDoesNotExist: true and isPrivate: false. Set include_gated_profile=true to also return limited public fields (such as id, name, category, likeCount, profilePicSmall, and links) when a profile is gated or age-restricted. This option only affects gated/age-restricted profiles — public profiles still return the normal full response.","parameters":[{"name":"url","in":"query","required":true,"description":"Facebook profile URL","schema":{"type":"string"},"example":"https://www.facebook.com/mantraindianfolsom"},{"name":"get_business_hours","in":"query","required":false,"description":"Get the business's hours","schema":{"type":"string"},"example":"true"},{"name":"include_gated_profile","in":"query","required":false,"description":"When true, returns limited public fields for gated or age-restricted profiles. Ignored for normal public profiles — those still return the full response.","schema":{"type":"string"},"example":"true"},{"name":"cache_max_age","in":"query","required":false,"description":"If we have a response in the cache that is this many days old or newer, return the cached response (0 credits, with \"cached\": true and a \"cached_at\" timestamp). Otherwise, scrape a live result (1 credit). [See the Caching page for details.](https://docs.scrapecreators.com/caching)","schema":{"type":"string","enum":["1d","3d","7d","14d","30d"]},"example":"7d"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/facebook/profile/reels":{"get":{"tags":["Facebook"],"summary":"Profile Reels","description":"Fetches up to 10 reels per request from a public Facebook page. Each reel includes id, url, view_count, description, creation_time, video_url, thumbnail, play_time_in_ms, and music details. Pagination requires passing both next_page_id and cursor from the previous response.","parameters":[{"name":"url","in":"query","required":true,"description":"Facebook page URL","schema":{"type":"string"},"example":"https://www.facebook.com/pacemorby"},{"name":"next_page_id","in":"query","required":false,"description":"To paginate through to the next page","schema":{"type":"string"},"example":"YXBwX2NvbGxlY3Rpb2......"},{"name":"cursor","in":"query","required":false,"description":"To paginate through to the next page","schema":{"type":"string"},"example":"AQHSFZtzkBauSDHgy8y......"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/facebook/profile/photos":{"get":{"tags":["Facebook"],"summary":"Profile Photos","description":"Fetches photos from a public Facebook page with pagination support. Each photo includes photo_id, accessibility_caption, viewer_image with uri, height, and width, plus a thumbnail and direct url. Pagination requires passing both next_page_id and cursor from the previous response.","parameters":[{"name":"url","in":"query","required":true,"description":"Facebook page URL","schema":{"type":"string"},"example":"https://www.facebook.com/Spurs"},{"name":"next_page_id","in":"query","required":false,"description":"To paginate through to the next page","schema":{"type":"string"},"example":"YXBwX2NvbGxlY3Rpb2......"},{"name":"cursor","in":"query","required":false,"description":"To paginate through to the next page","schema":{"type":"string"},"example":"AQHSRM68MZ-AJKGSgRb0......"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/facebook/profile/posts":{"get":{"tags":["Facebook"],"summary":"Profile Posts","description":"Returns publicly visible Facebook profile posts, limited to 3 posts per page due to API limitations. Each post includes id, text, url, reactionCount, commentCount, publishTime, videoDetails with sdUrl, hdUrl, and thumbnailUrl, plus topComments. Accepts either a url or pageId parameter, where pageId is faster.","parameters":[{"name":"url","in":"query","required":false,"description":"Facebook profile URL","schema":{"type":"string"},"example":"https://www.facebook.com/pacemorby"},{"name":"pageId","in":"query","required":false,"description":"Facebook profile page id","schema":{"type":"string"},"example":"100063669491743"},{"name":"cursor","in":"query","required":false,"description":"To paginate through the posts","schema":{"type":"string"},"example":"Cg8Ob3JnYW5pY19jdXJzb3IJA..."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/facebook/profile/events":{"get":{"tags":["Facebook"],"summary":"Profile Events","description":"Get the events of a public Facebook page","parameters":[{"name":"url","in":"query","required":true,"description":"The URL of the public Facebook page","schema":{"type":"string"},"example":"https://www.facebook.com/brickyardoldtown"},{"name":"cursor","in":"query","required":false,"description":"The cursor to paginate to get more events","schema":{"type":"string"},"example":"eyJpZCI6IllYQndYMk52Ykd......"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/facebook/post":{"get":{"tags":["Facebook"],"summary":"Post","description":"Retrieves a single public Facebook post or reel by URL. Returns post_id, like_count, comment_count, share_count, view_count, description, creation_time, and author details. For some reels, Facebook does not expose the same view count on the individual post page that it shows on the profile Reels grid. This value can be null or lower than the public Reels badge. If you need the public Reel badge count, call /v1/facebook/profile/reels with the author URL and match the reel by post_id. For video posts, includes video sd_url, hd_url, thumbnail, and length_in_second. Optionally fetches comments and transcript via get_comments and get_transcript parameters.","parameters":[{"name":"url","in":"query","required":true,"description":"The URL of the post to get","schema":{"type":"string"},"example":"https://www.facebook.com/reel/1535656380759655"},{"name":"cache_max_age","in":"query","required":false,"description":"If we have a response in the cache that is this many days old or newer, return the cached response (0 credits, with \"cached\": true and a \"cached_at\" timestamp). Otherwise, scrape a live result (1 credit). [See the Caching page for details.](https://docs.scrapecreators.com/caching)","schema":{"type":"string","enum":["1d","3d","7d","14d","30d"]},"example":"7d"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/facebook/post/transcript":{"get":{"tags":["Facebook"],"summary":"Transcript","description":"Extracts the transcript text from a Facebook video post or reel. Returns the transcript as a single text string with line breaks. Only works on videos under 2 minutes in length.","parameters":[{"name":"url","in":"query","required":true,"description":"Facebook post URL","schema":{"type":"string"}},{"name":"cache_max_age","in":"query","required":false,"description":"If we have a response in the cache that is this many days old or newer, return the cached response (0 credits, with \"cached\": true and a \"cached_at\" timestamp). Otherwise, scrape a live result (1 credit). [See the Caching page for details.](https://docs.scrapecreators.com/caching)","schema":{"type":"string","enum":["1d","3d","7d","14d","30d"]},"example":"7d"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/facebook/post/comments":{"get":{"tags":["Facebook"],"summary":"Comments","description":"Fetches comments from a Facebook post or reel with cursor-based pagination. Each comment includes id, text, created_at, reply_count, reaction_count, and author details with name and profile_picture. Passing a feedback_id instead of a url significantly speeds up the request.","parameters":[{"name":"url","in":"query","required":false,"description":"Facebook post URL (or reel URL)","schema":{"type":"string"},"example":"https://www.facebook.com/reel/753347914167361"},{"name":"feedback_id","in":"query","required":false,"description":"Using feedback_id (instead of url) will *really* speed up the request. You can get the feedback_id when you make a request to /v1/facebook/post.","schema":{"type":"string"},"example":"ZmVlZGJhY2s6MTQ0NzY1NjMyMzM4Mzg0OA=="},{"name":"cursor","in":"query","required":false,"description":"Cursor to get more comments. Get 'cursor' from previous response.","schema":{"type":"string"},"example":"MToxNzU3MTA2NzYyOgF1P1VkxpkA9Ds4..."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/facebook/post/comment/replies":{"get":{"tags":["Facebook"],"summary":"Comment Replies","description":"Get the replies to a comment.","parameters":[{"name":"feedback_id","in":"query","required":true,"description":"The *feedback_id* of the comment. Be careful, this is not the comment id. You can get the feedback_id from the /v1/facebook/post/comments endpoint.","schema":{"type":"string"},"example":"ZmVlZGJhY2s6MzM3MzYxMzI5OTQ4Nzc1NV8xOTI5NTk0OTE3Njg3MTcz"},{"name":"expansion_token","in":"query","required":true,"description":"The expansion_token of the comment. You can get the expansion_token from the /v1/facebook/post/comments endpoint.","schema":{"type":"string"},"example":"MjoxNzc4NjM1MDM3OgF_JaMa3kMP9RIWC...."},{"name":"cursor","in":"query","required":false,"description":"The cursor to paginate to the next page","schema":{"type":"string"},"example":"MToxNzc4NjM1MTIyOgF_w6rc3oH0HrKM2dLjla6A..."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{}}}}}},"/v1/facebook/group":{"get":{"tags":["Facebook"],"summary":"Facebook Group Info","description":"Fetches the public information shown on a Facebook group's About page, including its description, privacy and visibility, member and activity counts, categories, administrators and moderators when Facebook exposes them, group history, and rules. Provide either url or group_id.","parameters":[{"name":"url","in":"query","required":false,"description":"The Facebook group URL. Group sub-page URLs such as /about work too.","schema":{"type":"string"},"example":"https://www.facebook.com/groups/366190054572553/about"},{"name":"group_id","in":"query","required":false,"description":"The numeric Facebook group ID. Provide this instead of url if you already have it.","schema":{"type":"string"},"example":"366190054572553"}],"responses":{"200":{"description":"Successful 
[...]
